<h2>Atualizar</h2>
<section *ngIf="cliente">
    <label>ID:
        <input type="number" [(ngModel)]="cliente.id">
    </label>
    <label>Empresa:
        <input type="text" [(ngModel)]="cliente.empresa">
    </label>
    <label>CNAE:
        <input type="text" [(ngModel)]="cliente.cnae">
    </label>
    <label>CNPJ:
        <input type="text" [(ngModel)]="cliente.cnpj">
    </label>
    <label>CEP:
        <input type="text" [(ngModel)]="cliente.cep">
    </label>
    <label>Número:
        <input type="text" [(ngModel)]="cliente.numero">
    </label>
    <label>Complemento:
        <input type="text" [(ngModel)]="cliente.complemento">
    </label>
    <label>Cidade:
        <input type="text" [(ngModel)]="cliente.cidade">
    </label>
    <label>Estado:
        <input type="text" [(ngModel)]="cliente.estado">
    </label>
    <label>Telefone:
        <input type="text" [(ngModel)]="cliente.telefone">
    </label>
    <label>Celular:
        <input type="text" [(ngModel)]="cliente.celular">
    </label>
    <label>Responsavel:
        <input type="text" [(ngModel)]="cliente.responsavel">
    </label>
    <label>Pontuação
        <input type="number" [(ngModel)]="cliente.pontuacao">
    </label>
    <button (click)="atualizar()">Atualizar</button>
</section>
