<app-nav-bar></app-nav-bar>

<h1>Cadastrar Novo</h1>

<div id="form">
    <div class="row">
        <div class="col-md-3 mb-3">
            <label class="form-label">ID:</label>
            <input class="form-control" type="number" [(ngModel)]="prospect.id" disabled readonly>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Empresa:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.empresa">
        </div>
        <div class="col-md-3 mb-3">
            <label class="form-label">Pontuação</label>
            <input class="form-control" type="number" [(ngModel)]="prospect.pontuacao" disabled readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">CNAE:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.cnae">
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">CNPJ:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.cnpj">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3  mb-3">
            <label class="form-label">CEP:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.cep">
        </div>
        <div class="col-md-9  mb-3">
            <label class="form-label">Endereço:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.endereco">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label class="form-label">Número:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.numero">
        </div>
        <div class="col-md-3 mb-3">
            <label class="form-label">Complemento:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.complemento">
        </div>
        <div class="col-md-3 mb-3">
            <label class="form-label">Estado:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.estado">
        </div>
        <div class="col-md-3 mb-3">
            <label class="form-label">Cidade:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.cidade">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Telefone:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.telefone">
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Celular:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.celular">
        </div>
        <div class="mb-3">
            <label class="form-label">Responsavel:</label>
            <input class="form-control" type="text" [(ngModel)]="prospect.responsavel">
        </div>
    </div>
    <div class="container-button">
        <button class="button save" (click)="save()">Cadastrar</button>
        <button class="button cancelar" [routerLink]="['/home']" routerLinkActive="router-link-active">Cancelar</button>
    </div>
</div>
