<main>
    <h1>Mining4B</h1>
    <section>
        <div>
            <h2>Mining4B</h2>
            <label for="user">Login:</label>
            <input [(ngModel)]="user.nome" type="text" name="" id="user" placeholder="Digite o usuario">
            <label for="password">Senha:</label>
            <input [(ngModel)]="user.senha" type="password" name="" id="password" placeholder="Digite a senha">
            <button type="submit" (click)="fazerLogin()">Entrar</button>
        </div>
    </section>
</main>