<app-nav-bar></app-nav-bar>

<section *ngIf="prospect">
    <h1>{{prospect.empresa}}</h1>
    <p>{{prospect.cnpj}}</p>
    <div class="row mb-5">
        <p class="col-md-auto"><span>CNAE:</span></p>
        <p class="col-md-auto">{{prospect.cnae}}</p>
        <p class="col-md-auto"><span>CEP:</span></p>
        <p class="col-md-auto">{{prospect.cep}}</p>
    </div>
    <div class="row mb-5">
        <p class="col-md-auto"><span>Endereço:</span></p>
        <p class="col-md-auto">{{prospect.endereco}}</p>
        <p class="col-md-auto"><span>Número:</span></p>
        <p class="col-md-auto">{{prospect.numero}}</p>
    </div>
    <div class="row mb-5">
        <p class="col-md-auto"><span>Complemento:</span></p>
        <p class="col-md-auto">{{prospect.complemento}}</p>
        <p class="col-md-auto"><span>Cidade:</span></p>
        <p class="col-md-auto">{{prospect.cidade}}</p>
        <p class="col-md-auto"><span>Estado:</span></p>
        <p class="col-md-auto">{{prospect.estado}}</p>
    </div>
    <div class="row mb-5">
        <p class="col-md-auto"><span>Telefone:</span></p>
        <p class="col-md-auto">{{prospect.telefone}}</p>
        <p class="col-md-auto"><span>Celular:</span></p>
        <p class="col-md-auto">{{prospect.celular}}</p>
        <p class="col-md-auto"><span>Responsável:</span></p>
        <p class="col-md-auto">{{prospect.responsavel}}</p>
    </div>
    
    <button [routerLink]="['/atualizacao', prospect.id]" routerLinkActive="router-link-active" class="button editar">Editar</button>
    <button (click)="remover(prospect.id)" class="button excluir">Excluir</button>
</section>
